
body{

    background-color: rgb(5, 44, 182);
}


.conjunto_cuadros
{
    display: flex;
    flex-direction:row;
    align-items: center;
    flex-wrap: wrap;

}

.cuadros{

   color: blue;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   padding: 3rem;
   background-color: rgb(24, 193, 193);
   margin: 10px;
   border-radius: 50%;
   border: solid;
   border-color: cadetblue;
   border-width: 5px;
}

